<div>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="notes.html"><i class="fa fa-edit"></i> Mes notes</a>
            </li>
            <li>
                <a href="nvnote.html"><i class="fa fa-fw fa-file"></i> Nouvelle note </a>
            </li>

            <li>
                <a href="#"><i class="fa fa-qrcode"></i> Imprimer<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"> .....</a>
                    </li>
                    <li>
                        <a href="#">....</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>

</nav>
</div>
