<div>
  <app-nav-bar></app-nav-bar>
  <app-side-bar></app-side-bar>
  <!-- /. PAGE INNER  -->
</div>
<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Mes notes
    </h1>
    <ol class="breadcrumb">
      <li><a href="#">Acceuil</a></li>
      <li><a href="#">Nouvelle note</a></li>

    </ol>

  </div>
  <div id="page-inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">{{note.creationDate | date:'medium'}}</div>
            </div>
          </div>
          <div class="panel-body">
            <div>
              <div>
                <div class="sub-title">Titre : </div>
                <div>
                  {{note.title}}
                </div>
              </div>
              <div class="form-group">
                <div class="sub-title">Note : </div>
                <div style="margin-bottom: 5%">
                  <p > {{note.body}} </p>
                </div>
              </div>
              <div class="row" >
                  <div *ngFor="let file of files" class="col-md-3 col-sm-3" >
                    <div *ngIf="file.fileType.includes('image')" class="image" style="margin: 10px" >
                      <img src={{file.fileDownloadUri}} width="200px" height="150px">
                    </div>
                    <div *ngIf="file.fileType.includes('audio')">
                      <audio controls>
                        <source src={{file.fileDownloadUri}} type="audio/mpeg">
                      </audio>
                    </div>
                    <div *ngIf="file.fileType.includes('video')">
                      <video width="320" height="240" controls>
                        <source src={{file.fileDownloadUri}} type="video/mp4">
                      </video>
                    </div>
                  </div>
              </div>

              <div class="form-group">
                  <button class="btn btn-5 btn-5a icon-cog" data-toggle="modal" data-target="#myModal"><i
                    class="fa fa-upload"></i> Importer un fichier</button>
                <!-- <label for="exampleInputFile">Voulez-vous importer un fichier?</label>
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
                </div>
                <button type="button" class="btn btn-default" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  Importer
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Joindre un fichier</h4>
              </div>
              <div class="modal-body">
                  <label for="exampleInputFile">Voulez-vous importer un fichier?</label>
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-default" (click)="uploader.uploadAll()">
                      Importer
                  </button>
              </div>
          </div>
      </div>
  </div>