<p class="tip"></p>
<div class="cont">
    <div class="form sign-in">
        <h2>Bienvenue,</h2>
        <label>
            <span>Email</span>
            <input type="email" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" />
        </label>
        <a href="notes.html" style="text-decoration : none">
            <button type="button" class="submit">Se connecter</button></a>

    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>Vous êtes nouveau?</h2>
                <p>Veuillez-vous inscrire et amusez-vous par la prise de tous vos notes!</p>
            </div>
            <div class="img__text m--in">
                <h2>Vous-êtes déja parmi nous?</h2>
                <p>Si vpus êtes déja inscrit, il vous suffit de vous connecter</p>
            </div>
            <div class="img__btn">
                <span class="m--up">S'inscrire</span>
                <span class="m--in">Connecter</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>C'est le moment de nous rejoindre,</h2>
            <label>
                <span>Nom</span>
                <input type="text" />
            </label>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <label>
                <span>Mot de passe</span>
                <input type="password" />
            </label>
            <button type="button" class="submit">S'isncrire</button>

        </div>
    </div>
</div>
