<div>
  <app-nav-bar></app-nav-bar>
  <app-side-bar></app-side-bar>
  <!-- /. PAGE INNER  -->
</div>
<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      notes archiveé
    </h1>

    <ol class="breadcrumb">
      <li><a href="#">Acceuil</a></li>
      <li><a href="#">Mes notes</a></li>
      <li style="width: 88%">
        <div class="input-group" style="display: inline-flex;width: 94%;">
          <input #searchedTitle type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="searchByTilte(searchedTitle.value)">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </li>
    </ol>


  </div>
  <div id="page-inner">
    <div class="row">
      <div *ngFor="let note of notes" class="col-md-4 col-sm-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            {{ note.title }}
            <div style="display: inline-block;float: right;">
              <button data-toggle="tooltip" title="restaurer" (click)="restore(note)"><i class="fa fa-refresh"></i></button>
              <button data-toggle="tooltip" title="supprimer" (click)="deleteNote(note.id)"><i class="fa fa-trash"></i></button>
            </div>

          </div>
          <div class="panel-body">
            <p>{{ note.body }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est
              vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et,
              fringilla augue.</p>
          </div>
          <div class="panel-footer">
            {{ note.deleteDate  | date:'medium'}}
            <!-- <label for="exampleInputFile">Voulez-vous importer un fichier?</label>
                <input type="file" name="photo" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
              </div>
              <button type="button" class="btn btn-default" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                Importer
              </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>